<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<h2>회원가입</h2>

<form action="/member/save" method="post" th:object="${memberSaveReq}">
    <!-- 서버에서 발생한 에러 메시지 -->
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

    <!-- 이메일 -->
    <label>이메일:
        <input type="text" th:field="*{memberEmail}" id="memberEmail" onblur="emailCheck()">
    </label><br>
    <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" style="color:red;"></p>
    <p id="check-result" style="color:blue;"></p>

    <!-- 비밀번호 -->
    <label>비밀번호:
        <input type="password" th:field="*{memberPassword}">
    </label><br>
    <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}" style="color:red;"></p>

    <!-- 이름 -->
    <label>이름:
        <input type="text" th:field="*{memberName}">
    </label><br>
    <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" style="color:red;"></p>

    <input type="submit" value="회원가입">
</form>

<script type="text/javascript">
    const emailCheck = () => {
        const email = document.getElementById('memberEmail').value;
        const checkResult = document.getElementById('check-result');

        $.ajax({
            type: "POST",
            url: "/member/email-check",
            data: {
                "memberEmail": email
            },
            success: function (result) {
                if (result === "ok") {
                    checkResult.innerHTML = "사용 가능한 이메일";
                } else {
                    checkResult.innerHTML = "이미 사용중인 이메일";
                }
            },
            error: function () {
                checkResult.innerHTML = "오류가 발생했습니다.";
            }
        });
    }
</script>
</body>
</html>
