<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/member/update" method="post" th:object="${memberUpdateReq}">
    <!-- 숨겨진 ID -->
    <input type="hidden" th:field="*{id}">

    이메일:
    <input type="text" th:field="*{memberEmail}" readonly> <br>
    <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" style="color:red;"></p>

    비밀번호:
    <input type="text" th:field="*{memberPassword}"> <br>
    <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}" style="color:red;"></p>

    이름:
    <input type="text" th:field="*{memberName}"> <br>
    <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" style="color:red;"></p>

    <input type="submit" value="정보수정">
</form>
</body>
</html>